@import 'tailwindcss';

main {
  margin: 40px auto;
  max-width: 76rem;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding: 0 10px;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

.tabs {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-template-rows: auto 1fr;
  column-gap: 1rem;
}

details.tab {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  grid-column: 1 / -1;
  grid-row: 1 / span 3;
}

details.tab::details-content {
  grid-row: 2;
  grid-column: 1 / -1;
  padding: 1rem;
  border-bottom: 2px solid dodgerblue;
}

details.tab:not([open])::details-content {
  display: none;
}

details.tab[open] summary.tab-label {
  font-weight: bold;
}

summary.tab-label {
  grid-row: 1;
  display: grid;
  padding: 1rem;
  border-bottom: 2px solid dodgerblue;
  cursor: pointer;
  grid-column: var(--n) / span 1;
  z-index: 1;
}

details.tab[open] summary.tab-label {
  font-weight: bold;
}
